<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<center><nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/projects/">Projects</a></li>
	        		<li><a href="/software/">Software</a></li>
	        		<li><a href="/math/">Math</a></li>
	    		</ul>
			</nav></center>
			<script>
				for (var i = 0; i < document.links.length; i++) {
					    if (document.links[i].href == document.URL) {
					    	document.links[i].className = 'active';
					    }
				}
			</script>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:waseemkhan96@gmail.com">email</a></li>
	        		<li><a href="https://github.com/waseemkhan96">github.com/waseemkhan96</a></li>
				</ul>
			</footer>
		</body>
	</html>
